<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/ocare/guide/assets/css/components.css">
    <link rel="stylesheet" href="/ocare/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/ocare/app/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/ocare/app/css/prototype.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>프로토타입</span></div>
        <div data-class="section">
            <div data-class="h1">radius chart type1</div>
            <script type="text/html">
<div data-circle-box="type1">
    <!-- data-circle-val 이동할 값 : 퍼센트 비율--->
    <div data-circle-size="180" data-circle-color="#8624dd" data-circle-val="50" aria-label="승리 50%"></div>
    <div data-circle-size="160" data-circle-color="#fb6e37" data-circle-val="30" aria-label="패배 30%"></div>
    <div data-circle-size="140" data-circle-color="#01d0c3" data-circle-val="20" aria-label="무승부 20%"></div>
</div>
            </script>
            <div data-class="h1">radius chart type2</div>
            <script type="text/html">
<div data-circle-box="type2">
    <!-- data-circle-val 이동할 값 : 퍼센트 비율--->
    <div data-circle-color="#ffae34" data-circle-val="30" aria-label="해외 30%"></div>
    <div data-circle-color="#9e6dee" data-circle-val="55" aria-label="국내 55%"></div>
    <div data-circle-color="blue" data-circle-val="10" aria-label="기타 10%"></div>
    <div data-circle-color="red" data-circle-val="5" aria-label="기타 5%"></div>
</div>
<div data-circle-box="type2" data-circle-width="10">
    <!-- data-circle-val 이동할 값 : 퍼센트 비율--->
    <div data-circle-color="#ffae34" data-circle-val="30" aria-label="해외 30%"></div>
    <div data-circle-color="#9e6dee" data-circle-val="55" aria-label="국내 55%"></div>
    <div data-circle-color="blue" data-circle-val="10" aria-label="기타 10%"></div>
    <div data-circle-color="red" data-circle-val="5" aria-label="기타 5%"></div>
</div>
            </script>
            <div data-class="h1">Animating Number Counters</div>
            <script type="text/html">
                <div class="section">
                    <div class="number counter">68390</div>
                </div>
                <div class="section" style="margin-top:30px">
                    <div class="number counter">168390</div>
                </div>
                <div class="section" style="margin-top:30px">
                    <div class="number counter">1368390</div>
                </div>
            </script>
        </div>
    <script src="/ocare/guide/assets/vendor/jquery.min.js"></script>
    <script src="/ocare/guide/assets/vendor/lodash.min.js"></script>
    <script src="/ocare/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/ocare/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/ocare/guide/assets/js/components.js"></script>
    <script src="/ocare/app/js/prototype.js"></script>
</body>
</html>